In [1]:
# STORING DATA : VARIABLE AND ASSIGNMENT
num1 = 10    
num2 = -42    
num3 = 0

In [2]:
num1

10

In [3]:
age = 25
user_name = "John"
_counter = 100
totalAmount = 500
number_2 = 50
my_variable = [1, 2, 3]

In [4]:
user_name

'John'

In [5]:
#INVALID

2nd_place = 10     # Starts with a number
if = 20            # Reserved word
total amount = 500 # Contains a space

SyntaxError: invalid decimal literal (2236734401.py, line 3)

In [6]:
#FIX THE VARIABLE NAME

1st_item = "apple"
item-price=5.0
total price=20
print(1st_item,item-price,total price)

SyntaxError: invalid decimal literal (3290512245.py, line 3)

In [ ]:
first_item = "apple"
item_price=5.0
total_price=20
print(first_item,item_price,total_price)

In [ ]:
#DATA TYPES

age = 25  # Integer
print(age)
print(type(age))

height = 5.9  # Float
print(height)
print(type(height))

name = "John Doe"  # String
print(name)
print(type(name))

is_student = True  # Boolean
is_teacher = False  # Boolean
print(is_student)
print(is_teacher)
print(type(is_student))

In [ ]:
# COVERTING

x = "100"
y = 10.5
z = 50
x=int(x)
y=int(y)
z=str(z)

In [ ]:
x
y
z

In [ ]:
#SLICING

s = "Python"
print(s[0])   # Output: P
print(s[-1])  # Output: n

In [ ]:
#Operators

a = 10
b = 3

print("Addition:", a + b)         # Output: 13
print("Subtraction:", a - b)      # Output: 7
print("Multiplication:", a * b)   # Output: 30
print("Division:", a / b)         # Output: 3.3333
print("Modulus:", a % b)          # Output: 1
print("Exponentiation:", a ** b)  # Output: 1000

In [7]:
#INPUT FUNCTION

# Asking the user for their name
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name:  JOHN

Hello, JOHN!

In [8]:
# TASK Taking input from the user

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculating the area
area = length * width

# Displaying the result
print("The area of the rectangle is: ", area)

Enter the length of the rectangle:  4
Enter the width of the rectangle:  5

The area of the rectangle is:  20.0

In [9]:
#DATA CONVERSATION

# Asking the user for an integer input and performing a calculation
age = int(input("Enter your age: ")) # Convert input to an integer
print("In 5 years, you will be", age + 5)

Enter your age:  24

In 5 years, you will be 29

##### Step 1: Input two numbers from the user
dividend = int(input("Enter the dividend: "))
divisor = int(input("Enter the divisor: "))

# Step 2: Perform the modulus operation
remainder = dividend % divisor
remainder

In [11]:
#conditional statem8nt
 #if condition:
    # Code block to execute if the condition is True

age = 24
if age >= 18:
    print("You are eligible to vote!")

You are eligible to vote!

In [12]:
#if condition:
    # Code block to execute if the condition is True
#else:
    # Code block to execute if the condition is False
age = 16
if age >= 18:
    print("You are eligible to vote!")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [13]:
#if condition1:
    # Code block to execute if condition1 is True
#elif condition2:
    # Code block to execute if condition2 is True
#else:
    # Code block to execute if all conditions are False
age = 20
if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You just became an adult!")
else:
    print("You are an adult.")

You are an adult.

# TASK
# Take input from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

In [15]:
# FOR LOOP
fruits = ["apple", "banana", "cherry"]

# Looping through the list of fruits
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [16]:
for i in range(1, 6):
    if i == 3:  # IF i IS 3 BREAK THE STATEMENT
        continue  # Skip printing 3
    print(i)

1
2
4
5

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
#WHILE LOOP
# Initializing the counter variable
counter = 1

# While loop to print numbers from 1 to 5
while counter <= 5:
    print(counter)
    counter += 1  # Increment the counter by 1

1
2
3
4
5

In [19]:
# Loop Control Statements:use to control the flow of a loop.

#break: Exits the loop immediately, even if the loop condition is still True.

for i in range(10):
    if i == 6:
        break  # Exits the loop when i is 5
    print(i)

0
1
2
3
4
5

In [20]:
#continue: Skips the rest of the code inside the current iteration and goes to the next iteration of the loop.

for i in range(5):
    if i == 2:
        continue  # Skips the iteration when i is 2
    print(i)

0
1
3
4

In [21]:
#STRING
my_string = "Hello,World!"
print(len(my_string))  # Output: 13
print(my_string.upper())  # Output: HELLO, WORLD!
print(my_string.lower())  # Output: hello, world!
print(my_string.split(",")) # Output: ['Hello', ' World!']

12
HELLO,WORLD!
hello,world!
['Hello', 'World!']

In [22]:
x = -5
print(abs(x))  # Output: 5
y = 3.14159
print(round(y, 2))  # Output: 3.14
print(pow(3, 4))  # Output: 8
numbers = [1, 5, 2, 8, 3]
print(max(numbers))  # Output: 8
print(min(numbers))  # Output: 1
print(sum(numbers))

5
3.14
81
8
1
19

In [ ]:
def calculator():
    while True:
        print("1. Addition")
        print("2. Subtraction")
        print("3. Multiplication")
        print("4. Division")
        print("5. Exit")
        
        choice = input("Choose an option (1/2/3/4/5): ")
        
        if choice == '1':
            num1 = float(input("Enter the first number: "))
            num2 = float(input("Enter the second number: "))
            print("Result:", num1 + num2)
        elif choice == '2':
            num1 = float(input("Enter the first number: "))
            num2 = float(input("Enter the second number: "))
            print("Result:", num1 - num2)
        elif choice == '3':
            num1 = float(input("Enter the first number: "))
            num2 = float(input("Enter the second number: "))
            print("Result:", num1 * num2)
        elif choice == '4':
            num1 = float(input("Enter the first number: "))
            num2 = float(input("Enter the second number: "))
            if num2 == 0:
                print("Error: Division by zero is not allowed.")
            else:
                print("Result:", num1 / num2)
        elif choice == '5':
            print("Goodbye!")
            break
        else:
            print("Invalid choice. Please select a valid option.")

# Run the calculator
calculator()

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit

Choose an option (1/2/3/4/5):  1
Enter the first number:  5
Enter the second number:  9

Result: 14.0
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit