In [23]:
#creating a list
# Empty list
empty_list = []

# List of integers
numbers = [1, 2, 3, 4, 5]

# List of strings
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed_list = [1, "hello", 3.14, True]

# Nested lists (list inside a list)
nested_list = [[1, 2], [3, 4], [5, 6]]

In [24]:
#Accessing Elements:You can access elements using indexing and slicing.
# Access by index
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  
print(fruits[1])  

# Negative indexing (from the end)
print(fruits[-1]) 
print(fruits[-3:-1]) #left to right
# Slicing
print(fruits[0:2]) 
print(fruits[1:])

apple
banana
cherry
['apple', 'banana']
['apple', 'banana']
['banana', 'cherry']

In [25]:
#TASK
nested_list = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]

# Accessing elements in the nested list
print(nested_list[0])    
print(nested_list[0][1])
print(nested_list[2][2])

[1, 2, 3]
2
9

In [26]:
# METHODS IN LISTS

#append(x):Adds an item x to the end of the list.
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [27]:
#extend(iterable):Extends the list by appending elements from another iterable (e.g., list, tuple).

fruits = ["apple", "banana"]
more_fruits = ["cherry", "date"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'date']

In [28]:
#insert(i, x):Inserts an item x at a specified position i.
fruits = ["apple", "banana"]
fruits.insert(1, "cherry")
print(fruits)

['apple', 'cherry', 'banana']

In [29]:
#remove(x):Removes the first occurrence of item x.
fruits = ["apple", "banana", "cherry",]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [30]:
#pop(i):Removes and returns the item at index i. If i is omitted, removes the last item.
fruits = ["apple", "banana", "cherry"]
popped_item = fruits.pop(1)
print(fruits)       
print(popped_item)

['apple', 'cherry']
banana

In [31]:
#clear():Removes all items from the list.
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

In [32]:
#index(x):Returns the index of the first occurrence of item x.
fruits = ["apple", "banana", "cherry"]
print(fruits.index("banana"))

1

In [33]:
#count(x):Counts the number of occurrences of item x.
fruits = ["apple", "banana", "cherry", "banana"]
print(fruits.count("banana"))

2

In [34]:
#sort():Sorts the list in ascending order (modifies the list in-place).
numbers = [5, 2, 9, 1]
numbers.sort()
print(numbers)

[1, 2, 5, 9]

In [35]:
numbers = [5, 2, 9, 1]
numbers.sort(reverse=True)
print(numbers)

[9, 5, 2, 1]

In [36]:
#reverse():Reverses the elements of the list.
numbers = [1, 5, 3, 4]
numbers.reverse()
print(numbers)

[4, 3, 5, 1]

In [37]:
#copy():Creates a shallow copy of the list.
fruits = ["apple", "banana", "cherry"]
copy_fruits = fruits.copy()
print(copy_fruits)

['apple', 'banana', 'cherry']

In [38]:
#TASK1 
#Write a Python program to compute the cumulative sum of a list.

nums = [1, 2, 3, 4, 5]
cumulative_sum = [sum(nums[:i+1]) for i in range(len(nums))]
print("Cumulative Sum:", cumulative_sum)

Cumulative Sum: [1, 3, 6, 10, 15]

In [39]:
#TUPLE

my_tuple = (1, 2, 3, 4) #basis tuple
print(my_tuple)

mixed_tuple = (1, "Hello", 3.14, True) #mixed data types
print(mixed_tuple) 

single_element_tuple = (5,) #single element
print(single_element_tuple)  

empty_tuple = () #empty tuple
print(empty_tuple)  

constructed_tuple = tuple([1, 2, 3]) #constructed tuple
print(constructed_tuple)

(1, 2, 3, 4)
(1, 'Hello', 3.14, True)
(5,)
()
(1, 2, 3)

In [40]:
#Accessing Tuple Elements
fruits = ("apple", "banana", "cherry")
print(fruits[0])  
print(fruits[2])  

#slicing
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print(fruits[1:4])  
print(fruits[:3])

apple
cherry
('banana', 'cherry', 'date')
('apple', 'banana', 'cherry')

In [41]:
#Tuple operations

#concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)  

#Repetition:
tuple1 = ("Hello",)
result = tuple1 * 3
print(result)

(1, 2, 3, 4, 5, 6)
('Hello', 'Hello', 'Hello')

In [42]:
#mutability of list

fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"  # Replace "banana" with "orange"
print(fruits)

['apple', 'orange', 'cherry']

In [43]:
#Demonstrating Tuple Immutability
colors = ("red", "blue", "green")
print(colors)
# Output: ('red', 'blue', 'green')
colors[0] = "yellow"  
# TypeError: 'tuple' object does not support item assignment

('red', 'blue', 'green')

TypeError: 'tuple' object does not support item assignment

In [44]:
# DICTIONARY
# Creating a dictionary with keys and values
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}
my_dict

#Accessing dictionaries elements
#Using Keys
print(my_dict["name"])  # Output: Bob
print(my_dict["age"]) 

# Adding a new key-value pair
my_dict['email'] = 'alice@example.com'
print(my_dict)

Alice
25
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

In [45]:
#modifying dictionaries

#keys(): Get All Keys
person = {"name": "Alice", "age": 25, "profession": "Engineer"}
print(person.keys())

#values(): Get All Values
print(person.values())

#items(): Get All Key-Value Pairs
print(person.items())

#update(): Update Dictionary with Another Dictionary
person.update({"age": 30, "salary": 50000})
print(person)

#get(key): Retrieve a Value by Key
print(person.get("age"))

#pop(key): Remove a Key-Value Pair and Return Its Value
salary = person.pop("salary")
print(salary)  # Output: 50000
print(person)

#clear(): Remove All Key-Value Pairs
person.clear()
print(person)

dict_keys(['name', 'age', 'profession'])
dict_values(['Alice', 25, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 25), ('profession', 'Engineer')])
{'name': 'Alice', 'age': 30, 'profession': 'Engineer', 'salary': 50000}
30
50000
{'name': 'Alice', 'age': 30, 'profession': 'Engineer'}
{}

In [46]:
#TASK

# Step 1: Create the initial dictionary
car = {
    "brand": "Toyota",
    "model": "Corolla",
    "year": 2020
}

# Step 2: Add a key "color" with the value "blue"
car["color"] = "blue"

# Step 3: Update the "year" to 2023
car["year"] = 2023

# Step 4: Remove the "model" key and display its value
removed_model = car.pop("model")
print("Removed model:", removed_model)

# Display the results
print("Updated car dictionary:", car)

Removed model: Corolla
Updated car dictionary: {'brand': 'Toyota', 'year': 2023, 'color': 'blue'}

In [47]:
# Nested dictionary to store student information
students = {
    'Alice': {'Math': 90, 'English': 85, 'Science': 92},
    'Bob': {'Math': 75, 'English': 78, 'Science': 80},
    'Charlie': {'Math': 88, 'English': 95, 'Science': 89}
}

# Accessing data in a nested dictionary
print("Alice's Math score:", students['Alice']['Math'])  

# Looping through the nested dictionary
for student, subjects in students.items():
    print(f"\n{student}:")
    for subject, score in subjects.items():
        print(f"  {subject}: {score}")

Alice's Math score: 90

Alice:
  Math: 90
  English: 85
  Science: 92

Bob:
  Math: 75
  English: 78
  Science: 80

Charlie:
  Math: 88
  English: 95
  Science: 89

In [48]:

#You are given a list of sets, and your task is to find all pairs of sets that are disjoint. A pair of sets is disjoint if they do not share any common elements.
sets = [{1, 2, 3}, {4, 5}, {2, 3}, {6, 7}]
sets

[{1, 2, 3}, {4, 5}, {2, 3}, {6, 7}]

In [49]:
#NESTED DATA STRUCTURES
#list of list
nested_list = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]

# Accessing elements in the nested list
print(nested_list[0])    
print(nested_list[1][2]) 

#Dictionary of Lists
nested_dict_of_lists = {
    "fruits": ["apple", "banana", "cherry"],
    "vegetables": ["carrot", "spinach", "lettuce"]
}

# Accessing elements in the dictionary of lists
print(nested_dict_of_lists["fruits"])  # ['apple', 'banana', 'cherry']
print(nested_dict_of_lists["vegetables"][1])  # spinach

#list of dictionaries
nested_list_of_dicts = [
    {"name": "John", "age": 25},
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 20}
]

# Accessing elements in the list of dictionaries
print(nested_list_of_dicts[0]["name"])  # John
print(nested_list_of_dicts[1]["age"])   # 30

#Dictionaries of dictionaries
nested_dict_of_dicts = {
    "employee1": {"name": "John", "department": "HR"},
    "employee2": {"name": "Alice", "department": "IT"},
}

# Accessing elements in the dictionary of dictionaries
print(nested_dict_of_dicts["employee1"]["name"])  # John
print(nested_dict_of_dicts["employee2"]["department"])  # IT

[1, 2, 3]
6
['apple', 'banana', 'cherry']
spinach
John
30
John
IT

In [50]:
#SET OPERATIONS

#UNION :Combines the elements of two sets. The result contains all unique elements from both sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # or set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [51]:
#INTERSECTION:Returns the elements that are common to both sets.

intersection_set = set1 & set2  # or set1.intersection(set2)
print(intersection_set)

{3}

In [52]:
#DIFFERENCE:Returns the elements present in the first set but not in the second set.

difference_set = set1 - set2  # or set1.difference(set2)
print(difference_set)

{1, 2}

In [53]:
#SYMMETRIC DIFFERENCE:Returns the elements that are in either of the sets, but not in both.

symmetric_diff_set = set1 ^ set2  # or set1.symmetric_difference(set2)
print(symmetric_diff_set)

{1, 2, 4, 5}

In [54]:
#SUBSET AND SUPERSET
#A set is a subset of another set if all elements of the first set are also in the second set.
#A set is a superset of another set if the first set contains all elements of the second set.

set1 = {1, 2, 3}
set2 = {1, 2}
print(set2.issubset(set1))  # Output: True
print(set1.issuperset(set2))

True
True

In [55]:
#DISJOINT SET:wo sets are disjoint if they have no common elements.

set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))

True

In [56]:
#TASK
#Problem Statement: Given a list of lists, where each inner list represents the scores of a student in different subjects, find the highest score of each student.
students_scores = [
    [85, 92, 78],
    [88, 90, 91],
    [76, 89, 95]
]

# Find the highest score of each student
highest_scores = [max(student) for student in students_scores]
print(highest_scores)

[92, 91, 95]

In [57]:
#TASK
#Problem Statement: Given a dictionary of students and their marks in various subjects, calculate the average marks of each student.

students_marks = {
    "John": {"math": 85, "english": 90, "science": 80},
    "Alice": {"math": 88, "english": 92, "science": 85},
    "Bob": {"math": 78, "english": 85, "science": 88}
}

# Calculate the average marks for each student
average_marks = {student: sum(marks.values()) / len(marks) for student, marks in students_marks.items()}
print(average_marks)

{'John': 85.0, 'Alice': 88.33333333333333, 'Bob': 83.66666666666667}

In [58]:
#SET
# Creating a set
my_set = {1, 2, 3, 4}
print(my_set)

# Creating a set from a list (duplicates will be removed)
my_list = [1, 2, 2, 3, 4, 4]
my_set_from_list = set(my_list)
print(my_set_from_list)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [59]:
#TASK
#Write a Python program to merge two lists while removing duplicates.

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
merged_list = list(set(list1 + list2))
print("Merged List:", merged_list)

Merged List: [1, 2, 3, 4, 5, 6]

In [60]:
#FILE HANDLING
# Writing to a text file

with open("example.txt", "w") as file:
    file.write("Hello, world!\n") #file name example.txt
    file.write("Hello, \n")
    
# Reading from a text file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, world!
Hello,

In [61]:
#csv
import csv

# Writing to a CSV file
with open("data.csv", "w",newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age"])
    writer.writerow(["Alice", 25])
    writer.writerow(["john", 25])
# Reading from a CSV file
with open("data.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age']
['Alice', '25']
['john', '25']

In [ ]:
import csv

# Create or overwrite the CSV file
with open('user_data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'Email'])  # Write headers

    while (name := input("Name ('done' to stop): ").lower()) != 'done':
        age = input("Age: ")
        email = input("Email: ")
        writer.writerow([name, age, email])
        print("Data added!\n")

print("Data saved to 'users_data.csv'.")

In [ ]:
#TASK :Dictionary
#Store contacts and their phone numbers as key-value pairs.

contacts = {
    "John Doe": "123-456-7890",
    "Jane Smith": "987-654-3210",
    "Alice Johnson": "555-123-4567"
}

# Accessing a contact's phone number
print(contacts["John Doe"])  # Output: 123-456-7890

# Adding a new contact
contacts["Bob Brown"] = "222-333-4444"

# Printing all contacts and their phone numbers
for name, phone in contacts.items():
    print(name + ": " + phone)

In [ ]:
new_contacts = {
    "Merin": "555-123-3546",
    "Boston": "222-333-3564"
}
contacts.update(new_contacts)

for name, phone in contacts.items():
    print(name + ": " + phone)

In [ ]:
# Accessing a contact's phone number by its key
contact_name = "John Doe"
phone_number = contacts[contact_name]
print("The phone number of " + contact_name + " is: " + phone_number)

In [ ]:
#deleting
contact_name = "John Doe"
del contacts[contact_name]
print(contacts)

In [ ]:
# List of student scores
student_scores = [85, 92, 78, 94, 88, 76, 95, 89, 77, 91]

# Sort the student scores in ascending order
sorted_scores = sorted(student_scores)
print("Sorted scores:", sorted_scores)

# Identify the highest and lowest scores using max and min
highest_score = max(student_scores)
lowest_score = min(student_scores)
print("Highest score:", highest_score)
print("Lowest score:", lowest_score)

# Calculate the average score
average_score = sum(student_scores) / len(student_scores)
print("Average score:", average_score)